# Виртуальное окружение
venv/
env/
.env

# Файлы моделей (скачиваются автоматически при запуске)
models/
*.pt

# Личные настройки и логи
settings.json
log.txt

# Кэш Python
__pycache__/
*.pyc

# Временные файлы системы
.DS_Store
